.first-container{
    background-color: white;
    font-size:50px;
    position: absolute;
    left: 20px;
    top:16vh;
    z-index: 1;
    scroll-behavior: smooth;
}
.btn{
    margin-left: 250px;
    margin-right: 250px;
    border: none;
    font-size: 30px;
}
.filternameone{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
   
}
.titleoffilter{
    font-size: 25px;
    font-weight: bold;
    margin-top: 250px;
}
.sub-flex{
    text-decoration: none;
    border:none;
    border-bottom: 2px solid white;
    cursor: pointer;
    height: 80px;
    font-size: 20px;
}
