.main-container1{
    background-color: white;
    font-size:50px;
    /* width: 800px; */
   
    position: absolute;
    left: 20px;
    top:16vh;
    z-index: 1;
    scroll-behavior: smooth;
}
.btn{
    margin-left: 250px;
    margin-right: 250px;
    border: none;
    font-size: 30px;
}
.filternameone{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
   
}
.filter-title{
    font-size: 25px;
    font-weight: bold;
}
.flexone{
    text-decoration: none;
    /* background-color: rgb(148, 146, 146); */
    border:none;
    border-bottom: 2px solid white;
    /* width: 91%; */
    /* text-align: center; */
    /* padding-left: 25px; */
    cursor: pointer;
    height: 80px;
    font-size: 20px;
}
/* .tcheckcontainer{
    font-size: 30px;
} */
.checkbox{
    font-size: 20px;
}